<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>admin-ejs</title>
</head>
<body>
	<div id="container">
		<h3><%= name %></h3>
		<ul class="routerLink">
			<li><a href="<%= host %>/admin/register">admin/register</a></li>
			<li><a href="<%= host %>/admin/login">admin/login</a></li>
		</ul>	
	</div>

</body>
</html>