<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>成功提示页面</title>

    <meta http-equiv=refresh content="1;url= <%= host %>">


</head>
<body>
  <h1>error</h1>
</body>
</html>