<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>app3</title>
	<style>
		label{
			display: inline-block;
			width: 5rem;
		}
		.form-list{
			width: 20rem;
			height: 20rem;
		}
		.form-list li{
			margin: 1rem;
		}
	</style>
</head>
<body>
	<div id="container">
		<h2><%= title %></h2>
		<div class="con">
			<form action="<%= host %>/show" method="post" enctype="multipart/form-data">
				<div class="tab-pane active in" id="home">
					<ul class="form-list">
						<li>
							<label for="username">用户名:</label>
							<input type="text" name="name" id="username" placeholder="用户名">
						</li>
						<li>
							<label for="password">密 码:</label>
							<input type="password" name="psd" id="password" placeholder="密码">
						</li>
						<li>
							<label for="rpassword">重复密码:</label>
							<input type="password" name="rpsd" id="rpassword" placeholder="再次输入密码">
						</li>
						<li>
							<label for="email">邮箱:</label>
							<input type="email" name="email" id="email" placeholder="邮箱">
						</li>
						<li>
							<label for="phone">电话:</label>
							<input type="tel" name="phone" id="phone" placeholder="电话">
						</li>
						<li>
							<label for="file">上传头像:</label>
							<input type="file" name="image" id="file" onchange="showPreview(this)" />

							<div class="preview">
								
							</div>
						</li>

						<li>
							<label for="MD5">md5</label>
							<input type="text" name="nameM" id="MD5" placeholder="md5">
						</li>
						
						<li>
							<label for="submit">提交</label>
							<input type="submit" name="btn" id="submit" >
							
						</li>
						
						
					</ul>


                </div>
                
			</form>
			
		</div>
	</div>

	<script>
		
		const preview = document.querySelector('.preview')

		function showPreview(source) {  
	        let file = source.files[0];  
	        if (window.FileReader) {  
	            let fr = new FileReader();  
	            fr.onloadend = function(e) {  
	            	let str = `<img src="${e.target.result}" alt="" width="50" height="50">`
	                preview.innerHTML = str 
	            };  

	            if (file){
	            	fr.readAsDataURL(file)
	            } else{
	            	preview.innerHTML = ''
	            }
	            // fr.readAsDataURL(file);  
	        }  
	        
	    } 

	</script>

</body>
</html>