<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>show-upload</title>
</head>
<body>
	<div id="container">
		<h3><%= title %></h3>
		<p><%= resP %></p>

		<img src="<%= resP %>" alt="" width: "300" heihgt: "300">
		<a href="<%= resP %>">img path</a>
	</div>
</body>
</html>